<!DOCTYPE html>
<html>
<head>
  <title>Intervue</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <!-- Allows the inclusion of the jQuery library for JavaScript. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Allows the inclusion of the Bootstrap framework to improve mobile readability. -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <script>
  window.onload = function() {
    var socket = io("https://intervue.herokuapp.com",{
      transports: [
        'websocket',
        'flashsocket',
        'htmlfile',
        'xhr-polling',
        'jsonp-polling',
        'polling'
      ]
    });
    socket.on('question',function(data) {
      if (data.username!="<%= user.name %>")
      return;
      var li = "<li>";
      $("ul").append(li.concat(data.question.question));
      //$("button").attr('disabled','disabled');
      //$("button").css("background-color", "#8585e0");
    });
    socket.on('answer',function(data) {
      if (data.username!="<%= user.name %>")
      return;
      displayData(data);
    });
    var name3;
    document.getElementById("name2").innerHTML = "Hi, " + "<%= user.name %>" + ".";
    setTimeout (function(){document.getElementById("questionEntry").style.display = "block";}, 1000);
  }
  function displayData(data) {
    var li = "<li>";
    $("ul").append(li.concat("Your answer: " + data.answer));
    $("ul").append(li.concat("Your score: " + data.score*100 + "%"));
    $("ul").append(li.concat("Angry: " + data.tone[0]));
    $("ul").append(li.concat("Fear: " + data.tone[1]));
    $("ul").append(li.concat("Sadness: " + data.tone[2]));
    $("ul").append(li.concat("Joy: " + data.tone[3]));
    $("ul").append(li.concat("Confidence: " + data.tone[5]));
    $("ul").append(li.concat("Indecision: " + data.tone[7]));
    $("ul").append(li.concat("Feedback from Alexa: " + data.advice));
    $("button").css("background-color", "#3333cc");
    $("button").removeAttr('disabled');
  }
  </script>
  <div class="diy-slideshow">
    <figure class="show"> <img id="bkgd" src="https://lh5.googleusercontent.com/qthuywSxq68xaSlZTe9q5Qh5wBXzWVFfg-gKhfnHEa4DfHCIFD1WAko1d90ZuCxu3jfRcqrsgIw1DlPxpkhZ=w1920-h949-rw"/>
      <div class="slideOverlay slideCopy text-center">
        <div id="questionEntry">
          <h1 id="name2"> </h1>
          <h2 id="name3">Let's get you prepared for your interview.</h2>
          <!-- <button type="button" onclick="addRandomQuestion(0, 9, questions)">Generate Interview Question</button> -->
          <ul id="questionList"></ul>
        </div>
      </div>
    </figure>
  </div>
  <div class="slideOverlay container-fluid">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <img id="title" src="https://lh3.googleusercontent.com/8unVTiBN5IP35MSewx21pdq3jOiyQUMbqsS47Q5LXRR-hySaUU-K4e8EGHua5pu8g8tGVIUwuTiqUNf35n5z=w1920-h949-rw"/>
      </div>
    </nav>
  </div>
</body>
</html>
